* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --color-one: #303841;
    --color-two: #3a4750;
    --color-three: #00adb5;
    --color-four: #eeeeee;

}
body {
    background-color: var(--color-two);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-weight: 600;
    font-size: 16px;
}

.linha h1 {
display: flex;
justify-content: center;
align-items: center;
margin-top: 50px;



}

.tudo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 150px;
}



    /* Entre em contato  -------------------------------------------------- Entre em contato*/
.contato-box{
    background-color: var(--color-two);
    width: 400px;
    padding: 0 10px 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 65px;
}

.contato-box h2{
    color: var(--color-four);
    display: flex;
    align-self: center ;

}

.contato-box input{
    width: 350px;
}

.contato-box textarea{
    width: 350px;
    height: 30px;
}

.contato-box:hover{
    background-color: var(--color-one);

}

input, textarea{
    width: 470px;
    padding: 10px;
    height: 20px;
    border-radius: 8px;
}

.mensagem{
    height: 90px;
}

.envio{
    background: var(--color-three);
    color: #eeeeee;
    height: 40px;
    width: 140px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid;
    cursor: pointer;
}

.envio:hover{
    background-color: var(--color-four);
    color: var(--color-one);
}

h1{
    color: #eeeeee;
    margin: auto;
    margin-left: 100px;
}

 /* Entre em contato -FIM -------------------------------------------------- Entre em contato -FIM*/
 


 .localiza{
        color: var(--color-four);

    
 }
 .localizar{
     color: var(--color-four);
 }

 .infos{
    color: var(--color-four);
    height: 52vh;
    margin-top: -80px;  
 }
 .infos h2{
     
 }

 .infos span{
     color: var(--color-four);
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 60px;

 }


 .tudo .map{
     margin-top: -60px;
 }