@import'login.css';

@import'quemsomos.css';

@import'style.css';

@import'../fontawesome-free-5.14.0-web/css/all.min.css';

@import'Menu.css';

@import'dash-header.css';

@import'dash-main.css';

@import'dash-reset.css';

@import'dash-sidebar.css';

@import'stylesobre.css';

@import'cadastro.css';