* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --color-one: #303841;
    --color-two: #3a4750;
    --color-three: #00adb5;
    --color-four: #eeeeee;
    --color-five: #000000;
    --color-six: #ff6e71;
    --color-seven: #afc26b;
    --color-eight: #a287c3;
}
body {
    background-color: var(--color-one);
}

/* Começo do Menu */
.meu-header{
    background: var(--color-five);
    display: flex;
    justify-content: center;
    align-items: center;
}

.meu-header ul{
    display: inline-flex;
    list-style: none;
}

.meu-header ul li{
    width: 160px;
    margin: 10px 15px;
    padding: 15px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meu-header ul li a{
    text-decoration: none;
    color: var(--color-four);
}
.meu-header ul li a i{
   padding-right:20px;
}


/* Fim do Menu */

/* Começo dos tópicos do menu */

.li-home{
    border-bottom: var(--color-three) solid 3px;
}

.li-home:hover {
    background: var(--color-three);

}

.li-menu:hover a {
    color: var(--color-four);
}

.li-menu:hover{
    cursor: pointer;
    transition: 600ms;
}

.li-sobre{
    border-bottom: var(--color-six) solid 3px;
}

.li-sobre:hover {
    background: var(--color-six);
}

.li-sistemas{
    border-bottom: var(--color-seven) solid 3px;
}

.li-sistemas:hover {
    background: var(--color-seven);
}

.li-contato{
    border-bottom: var(--color-three) solid 3px;
}

.li-contato:hover {
    background: var(--color-three);
}

.li-simulador{
    border-bottom: var(--color-eight) solid 3px;
}

.li-simulador:hover {
    background: var(--color-eight);
}

.current{
    background: var(--color-three);
}
/* .current-s{
    background: var(--color-seven);
} */

/* Fim dos tópicos do menu */