* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --color-one: #303841;
    --color-two: #3a4750;
    --color-three: #00adb5;
    --color-four: #eeeeee;

}
body {
    background-color: var(--color-two);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-weight: 600;
    font-size: 16px;
}
.linha{
    background-color: var(--color-three);
    width: 100%;
    height: 200px;
    border-top: 5px solid var(--color-four) ;
     
}
.linha .titulo{
    margin-left: 740px;
    margin-top: 70px;
}



    /* Entre em contato  -------------------------------------------------- Entre em contato*/
.contato-box{
    background-color: var(--color-two);
    width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    margin-top: 150px;
    margin-right: 200px;
    border-radius: 8px;
    border: 3px solid black;
}
.contato-box:hover{
    background-color: var(--color-one);

}

input, textarea{
    width: 470px;
    padding: 10px;
    height: 20px;
    border-radius: 8px;
}

.mensagem{
    height: 90px;
}

.envio{
    background: var(--color-three);
    color: #eeeeee;
    height: 40px;
    width: 140px;
    font-weight: bold;
    border-radius: 7px;
    border: 1px solid;
    cursor: pointer;
}

.envio:hover{
    background-color: var(--color-four);
    color: var(--color-one);
}

h1{
    color: #eeeeee;
    margin: auto;
    margin-left: 100px;
}

 /* Entre em contato -FIM -------------------------------------------------- Entre em contato -FIM*/
 


 .localiza{
    margin-left: 20px;
    color: var(--color-four);
    
 }
 .localizar{
     color: var(--color-four);
 }

 .map{
     margin-top: -450px;
     margin-left:250px;
    
 }

 .infos{
     margin-top: -370px;
     margin-left: 750px;
     color: var(--color-four);
 }