body {
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-weight: 600;
    font-size: 16px;
}

:root {
  --color-one: #303841;
  --color-two: #3a4750;
  --color-three: #00adb5;
  --color-four: #eeeeee;
  --color-five: #000000;
  --color-six: #ff6e71;
  --color-seven: #afc26b;
  --color-eight: #a287c3;
}
html {
    background-color: var(--color-one);
}
a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 70px;
}
.logo{
    width: 200px;
}
.menu  {
    list-style: none;
}
.menu li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}
.menu li a {
    color: #fff;
}
.menu li a:hover {
    color: #69779b;
}
.botao {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 5px;
    background: #69779b;
}
.titulo {
    font-size: 70px;
    text-align: center;
    color: #fff;
    margin-top: 130px;
    font-weight: 300;
}
.sub {
  font-weight: 200;
  font-size: 20px;
  margin: 20px;
}
.conteudo{
    background-color: aliceblue;
    margin-top: 300px;
}
.container {
    width: 90%;
    margin: 50px auto;
}
.fundo2 {
    background-position: center;
}
  
  .box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 400px;
  }
  
  .card {
    width: 20%;
    background: #323232;
    border: 1px solid #212121;
    margin-bottom: 50px;
    transition: 0.3s;
    color: #fff;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    background: #fff;
    color: rgb(0, 0, 0);
  }

  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    text-align: center;
    background:var(--color-three);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
    border-radius: 5px;
    color: #fff;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(255, 255, 255, 0.486);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
    .heading {
      padding: 20px;
      font-size: 20px;
    }
    .card {
      width: 80%;
    }
  }

  /* rodapé */

  footer {
    background-color: var(--color-two);
    padding: 50px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo {
    width: 250px;
    margin-left: 70px;
}

.social-media{
    margin: 20px 0;
    margin-left: 100px;
}
.social-media a {
    color: var(--color-four);
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: var(--color-three);
}

.rigths-text {
    color: var(--color-four);
    margin-left: 100px;

} 

.right-col h1 {
    font-size: 26px;
    color: var(--color-four);
}

.border {
    width: 100px;
    height: 4px;
    background: var(--color-three);
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

p {
    margin: 10px;
    color: var(--color-four);
}

.txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: var(--color-two);
    background: var(--color-four);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.btn {
    padding: 18px 40px;
    font-size: 16px;
    color: var(--color-four);
    background: var(--color-three);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.btn:hover {
    opacity: .7;
}

@media screen and (max-width: 960px){

    .footer-container {
        max-width: 600px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }
    
}

@media screen and (max-width: 700px){

    .btm {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}