    .main_simulador {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 92%;
        position: relative;
    }
    
    .container_simulador {
        position: relative;
        width: 40vw;
        height: 60vh;
    }
    
    .box_simulador {
        position: relative;
        width: 40vw;
        height: 60vh;
        display: flex;
        color: white;
        background-color: black;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px;
        opacity: 93%;
        font-size: 28px;
        text-align: center;
        transition-duration: 1s;
    }
    
    .box_simulador:hover {
        color: black;
    }
    
    .box_simulador::before {
        content: "";
        width: 0vw;
        height: 55vh;
        background: linear-gradient(#42c5e6, #81c6d8);
        position: absolute;
        z-index: -1;
        border-top-left-radius: 50px;
        transition-duration: 0.3s;
        border-bottom-left-radius: 50px;
    }
    
    .box_simulador:hover::before {
        width: 20vw;
        height: 60vh;
    }
    
    .box_simulador::after {
        content: "";
        width: 0vw;
        height: 55vh;
        background: linear-gradient(#42c5e6, #81c6d8);
        position: absolute;
        z-index: -1;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        transition-duration: 0.3s;
        align-self: flex-end;
    }
    
    .box_simulador:hover::after {
        width: 20vw;
        height: 60vh;
    }
    
    .box_into {
        position: relative;
        width: 40vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .box_into input {
        position: absolute;
        top: 0;
        left: 17px;
        width: 46%;
        border: 1px solid white;
        background-color: transparent;
        color: white;
        padding: 10px;
        border-radius: 4px;
        box-sizing: border-box;
        outline: none;
        font-size: 16px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    
    .box_into input:hover {
        background-image: linear-gradient(to right, black, rgb(82, 82, 82));
    }
    
    .txt_unidade {
        position: absolute;
        top: 1px;
        left: 16px;
        padding: 10px;
        display: inline-block;
        font-size: 16px;
        color: white;
        font-weight: bold;
        transition: 0.8s;
        pointer-events: none;
        text-align: center;
    }
    /* COLOCAR PREENCHIMENTO DO INPUT LEFT TO RIGHT*/
    
    .box_into input:focus~.txt_unidade {
        transform: translateX(-10px) translateY(-33px);
    }
    
    .box_into input:hover:focus~.txt_unidade {
        color: black;
    }
    
    .box_into button {
        align-self: center;
        background-color: black;
        color: white;
        font-weight: bold;
        opacity: 50%;
        border-radius: 12px;
    }
    
    .box_into button:hover {
        opacity: 100%;
        transition-duration: 0.3s;
    }
    
    .box_into button:active {
        background-color: white;
        color: black;
        font-weight: bold;
    }
    
    .txt_desconto {
        font-size: 20px;
        animation-name: anm_txt_desconto;
        animation-duration: 4s;
        padding-top: 60px;
    }
    
    @keyframes anm_txt_desconto {
        0% {
            opacity: 0%;
            transform: translateX(70px);
        }
        40% {
            opacity: 0%;
            transform: translateX(70px);
        }
        100% {
            opacity: 79%;
        }
    }
    
    .mensagem {
        font-size: 22px;
    }